.tile {
  background-color: transparent;
  border-radius: 2px;
  position: relative;
}

$color-map: (
  i: #0dc2ff,
  j: #3877ff,
  l: #ff8e0d,
  o: #ffe138,
  s: #0dff72,
  t: #f538ff,
  z: #ff0d72,
);

@each $fill-name, $color in $color-map {
  .#{$fill-name} {
    background-color: rgba($color, 0.7);

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
    }

    &::before {
      background-color: darken($color, 15%);
    }

    &::after {
      background: radial-gradient(
        ellipse at top,
        lighten($color, 10%),
        transparent
      );
    }
  }
}
