.tetris {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{var(--header-height)} - #{var(--footer-height)});
  justify-content: center;
  outline: 0;
  text-decoration: none;
}

.tiles {
  border: 2px solid white;
  border-radius: 3px;
  display: grid;
  grid-gap: 1px;
  width: fit-content;
}

.score {
  font-size: 30px;
  font-weight: bold;
}
