* {
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Comic Sans MS, cursive, sans-serif;
}

a {
  color: inherit;
}

:root {
  --headerHeight: 38px;
  --footerHeight: 28px;
}
